<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{##}
{#<meta charset="UTF-8">#}
{#<meta name="viewport"#}
{#      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#<meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#<title>Document</title>#}
{#<style>#}
{##}
{#    .menu {#}
{#    padding: 0;#}
{#    margin: 0;#}
{#    list-style: none;#}
{#    display: flex;#}
{#    justify-content: space-around;#}
{#    background-color: #aaaaaa;#}
{#}#}
{##}
{#label {#}
{#    display: block;#}
{#    padding-bottom: 10px;#}
{#}#}
{##}
{#input[type=text],#}
{#input[type=number],#}
{#input[type=date] {#}
{#    margin-bottom: 20px;#}
{#    box-sizing: border-box;#}
{#    display: block;#}
{#    padding:15px;#}
{#    border: 1px solid #aaa;#}
{#    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);#}
{#    width: 500px;#}
{#}#}
{##}
{#li.header {#}
{#  float: left;#}
{#}#}
{##}
{#li.header a {#}
{#  display: block;#}
{#  color: brown;#}
{#  text-align: center;#}
{#  padding: 14px 16px;#}
{#  text-decoration: none;#}
{#}#}
{##}
{#li a:hover:not(.active) {#}
{#  background-color: grey;#}
{#}#}
{##}
{#.tab {#}
{#    border-collapse:collapse;#}
{#}#}
{##}
{#th {#}
{#    border: 1px solid #aaa;#}
{#    background: darkgoldenrod;#}
{#    padding: 20px;#}
{#}#}
{##}
{#td {#}
{#    border: 1px solid #aaa;#}
{#    padding: 20px;#}
{#}#}
{##}
{#</style>#}