<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{{active}}, navbar-header"><a href="{% url 'base' %}">MEMO for YOU</a></li>
            <li class="{{active}}"><a href="{% url 'add_person' %}">Dzieci w moim notatniku</a></li>
            <li class="{{active}}"><a href="{% url 'add_vaccination' %}">Szczepienia</a></li>
            <li class="{{active}}"><a href="{% url 'add_child_development' %}">Rozwój dziecka</a></li>
            {% if user.is_authenticated %}
                <li class="{{active}}"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="{{active}}"><a href="{% url 'login' %}">Login</a></li>
                <li class="{{active}}"><a href="{% url 'register' %}">Rejestracja</a></li>
             {% endif %}
            <li><a>{{ date }}</a></li>
        </ul>

    </div>
</nav>
