{%  extends 'base.html' %}
{% block content %}

    <form method="POST">
    {% csrf_token %}

        <p><label for="first_name"> Podaj imię:</label>
            <input type="text" name="first_name" id="first_name"
                   value="{{ person_detail.first_name }}"></p>
        <p><label for="second_name"> Podaj nazwisko:</label>
            <input type="text" name="second_name" id="second_name" value="{{ person_detail.second_name }}"></p>
        <p><label for="date_of_birth"> Podaj datę urodzenia dziecka:</label>
            <input type="datetime-local" name="date_of_birth" id="date_of_birth"
                   value="{{ person_detail.date_of_birth }}">Podaj datę w formacie: RRRR-MM-DD</p>

        <p><label for="gender"> Podaj płeć dziecka:</label>
            <select name="gender" id="gender">
                {% for item in gender_name %}
                    {% if person_detail.gender == item %}
                        <option selected value="{{ item.0 }}">{{ item.1 }}</option>
                    {% else %}
                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select></p>

        <p><input type="submit" value="EDYTUJ"></p>
    </form>

{% endblock %}

